apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ challenge_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ deployment_name }}
  template:
    metadata:
      labels:
        app: {{ deployment_name }}
    spec:
      containers:
      - name: {{ deployment_name }}
        image: {{ container_name }}
        imagePullPolicy: Always
        ports:
        - name: chal-port
          containerPort: {{ challenge_port }}
          protocol: TCP
      imagePullSecrets:
        - name: {{ deployment_name }}-pull
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ deployment_name }}-pull
  namespace: {{ challenge_namespace }}
data:
  .dockerconfigjson: {{ registry_data }}
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Service
metadata:
  name: {{ deployment_name }}-service
  namespace: {{ challenge_namespace }}
spec:
  selector:
    app: {{ deployment_name }}
  type: NodePort
  ports:
    - name: chal-port
      protocol: TCP
      port: {{ challenge_port }}
      targetPort: {{ challenge_port }}
      nodePort: {{ random_port }}